body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: auto;
    max-height: auto;
    overflow-x: hidden;
}
header {
    background-color: gray;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
nav {
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    max-width: 100%;
}
nav a {
    color: black;
    background-color: rgb(222, 221, 221);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}
section a {
    color: black;
    background-color: rgb(222, 221, 221);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}
nav a:hover {
    text-decoration: underline;
    background-color: rgb(161, 161, 244);
}

main {
    background-color: #e0e0e0;
    padding: 2rem;
    text-align: center;
    margin: auto;
}
.picture-item {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 13px 13px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.picture-item:hover {
    transform: scale(1.5);
}


main img {
    max-width: auto;
    height: auto;
    margin: 2rem 0;
}
footer {
    background-color: gray;
    color: white;
    text-align: left;
    padding: 1rem 2rem;
    width: 100%;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
}
h2 {
    font-size: 2.8rem;
    font-weight: 800;
}
h3 {
    color: white;
    font-weight: 600;
    background-color: gray;
    border-radius: 15px;
    font-size: 2.2rem;
    margin: 3rem 0rem;
    padding: 1rem 1rem;
    margin: 5rem 0rem ;
}
p {
    margin-bottom: 6rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}
iframe {
    margin: 3rem 0rem;
}
pre {
    text-align: justify;
    font-weight: 600;
    font-size: 1.2rem;
}
label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: flex;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
legend {
    font-size: 25px;
    font-weight: 600;
}
fieldset {
    display: justify;
    text-align: justify;
}
input[type="checkbox"]{
    display: flex;
}
@media (max-width: 768px) {
    nav a {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    main {
        padding: 1rem;
    }

    footer {
        padding: 1rem;
    }
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        max-width: auto;
        max-height: auto;
        overflow-x: hidden;
    }
}
